@import './base.scss';
.navbar {
    width: 100%;
    margin: 2em 0;
    display: flex;
    align-items: baseline;
    .navbar-heading {
        font-size: 32px;

        &:hover {
            color: $yellow;
        }

    }



            .navbar-item {
                font-size: 18px;
                color: $white;

    
                    &:hover {
                        font-size: 20px;
                        color: $yellow;
                    }

               
            }
    
    



   
}

@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;

            .navbar-item {
                font-size: 18px;
                color: $white;

    
                    &:hover {
                        font-size: 20px;
                        color: $yellow;
                    }

               
            }
    
    
        }
}
