@import './base.scss';

.project-page__box {
    margin: 20px 0;
    display: flex;
    flex-direction: column;

    .project-page__header {
        

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .title {
            text-align: center;
            align-self: center;
        }
        .select{
            align-self: center;
        }
    }

   
    
    .paginator {
        display: flex;
        justify-content: space-between;
        margin: 20px;
    }
}

.project-list-item__box {
    transition: all .2s ease-in-out;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
        p {
            width: 100%;
        }
        .project-list-item__title {
            font-size: 24px;
        }
        .project-list-item__postedby {
            font-size: 18px;
        
        }
        .project-list-item__header {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            // .project-list-item__title-postedby {
            //     display: flex;
            // }
        }
       
        .project-list-item__postedon {
            align-self: flex-end;
        }

        .project-list-item__description {
            font-size: 18px;
            margin: 0;
        }
    }

}


.upvote-container {

    .upvote-container__button{
        padding: 0;
        margin: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: all .2s ease-in-out;

    &:hover{
        transform: scale(1.5);
    }
    }
}